1. What are data structures, and why are they important?
- Data structures are ways to organize and store data so that it can be accessed and modified efficiently. They are important because they help in managing and processing data quickly, especially in complex programs and large datasets.
2. Explain the difference between mutable and immutable data types with examples.
- Mutable: Can be changed after creation. Example: List, Dictionary, Set
- Immutable: Cannot be changed after creation. Example: Tuple, String, Integer
3. What are the main differences between lists and tuples in Python?
- Lists are mutable, tuples are immutable.
- Lists use square brackets [], tuples use parentheses ().
4. Tuples are generally faster than lists.
- Describe how dictionaries store data.
Dictionaries store data in key-value pairs. Each key is unique and maps to a value. Example: {'name': 'Alice', 'age': 25}
5. Why might you use a set instead of a list in Python?
- Sets are used to store unique items. They automatically remove duplicates and allow for fast membership testing.
6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters. Unlike lists, strings are immutable and can only contain characters, not mixed data types.
7. How do tuples ensure data integrity in Python?
- Since tuples are immutable, their values cannot be changed. This ensures that the data remains constant throughout the program.
8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables.
9. Can lists contain different data types in Python?
- Yes, Python lists can contain elements of different data types, such as integers, strings, and other lists.
10. Explain why strings are immutable in Python.
- Strings are immutable to ensure consistency and safety in programs. When a string is changed, a new string is created in memory.
11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer faster lookups using keys and are better for data that can be identified by unique keys, like user data or configurations.
12. Describe a scenario where using a tuple would be preferable over a list.
- When data should not be changed, like coordinates (x, y) or constant values passed around in a program, a tuple is preferable.
13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values. If you add a duplicate to a set, it will not be included.
14. How does the “in” keyword work differently for lists and dictionaries?
- In lists: checks if a value exists in the list.
- In dictionaries: checks if a key exists in the dictionary.
15. Can you modify the elements of a tuple? Explain why or why not.
- No, tuples are immutable. Once created, their elements cannot be modified, added, or removed.
16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary.Example:
- students = {
    '101': {'name': 'Alice', 'marks': 85},
    '102': {'name': 'Bob', 'marks': 90}
}

- It is useful for storing structured data like student records.

17. Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary is generally O(1), which means constant time due to the use of hash tables.
18. In what situations are lists preferred over dictionaries?
- Lists are preferred when the order of elements matters or when data doesn't need to be labeled with keys.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Before Python 3.7, dictionaries did not maintain insertion order. Now they do, but logically they are considered unordered, meaning keys are not accessed by index but by name.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists use index-based retrieval (e.g., list[0])
Dictionaries use key-based retrieval (e.g., dict['name']), which is faster for large datasets.

In [1]:
#1 Write a code to create a string with your name and print it.
name = "Writam"
print(name)

Writam

In [2]:
#2 Write a code to find the length of the string "Hello World".
s='Hello World'
l=len(s)
print(l)

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
print(s[:3])

Pyt

In [4]:
#4 Write a code to convert the string "hello" to uppercase.
s='hello'
print(s.upper())

HELLO

In [5]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
s = "I like apple"
s = s.replace("apple", "orange")
print(s)

I like orange

In [6]:
#6 Write a code to create a list with numbers 1 to 5 and print it.
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [7]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [8]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [9]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [10]:
#10  Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [11]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [12]:
#12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [14]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))

5

In [16]:
#14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [18]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t = ('apple', 'banana', 'mango','kiwi')
print('kiwi' in t)

True

In [19]:
#16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [20]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [21]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [22]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [23]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [25]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {'name': 'Writam', 'age': 21, 'city': 'Kolkata'}
print(d)

{'name': 'Writam', 'age': 21, 'city': 'Kolkata'}

In [26]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [28]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [29]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

In [30]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.
l = [1, 2, 3]
t = (4, 5, 6)
d = {'a': 1, 'b': 2}
print(l, t, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [31]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
l = random.sample(range(1, 101), 5)
l.sort()
print(l)

[2, 11, 21, 49, 75]

In [33]:
#28 Write a code to create a list with strings and print the element at the third index.
l = ['apple', 'banana', 'cherry', 'date', 'fig']
print(l[3])

date

In [34]:
 #29 Write a code to combine two dictionaries into one and print the result.
 d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
#30  Write a code to convert a list of strings into a set.
l = ['apple', 'banana', 'cherry']
s = set(l)
print(s)

{'cherry', 'apple', 'banana'}